@import "~taro-ui/dist/style/components/modal.scss";

.at-modal__container {
    width: 88%;

    .at-modal__content {
        min-height: 100px;
        background-color: #f5f5f5;
    }

    .modal-line {
        display: flex;
        padding: 5px;

        .name {
            width: 210px;
            min-width: 210px;
            max-width: 210px;
            color: #555555;
        }

        .info {
            color: #333333;
        }
    }

    .submit-btn {
        color: #E50014;
    }
}

.recharge-hold {
    background-color: white;
    margin: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 18px;

    .item {
        width: 33.3333%;
        height: 210px;
        box-sizing: border-box;
        padding: 6px;
    }

    .recharge-item {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1PX solid #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #555555;

        .promo {
            font-size: 24px;
            color: #888888;
        }
    }

    .recharge-item.active {
        border: none;
        background-color: #E50014;
        color: white;
    }

    .self-hold {
        width: 100%;
        padding: 10px 6px;
    }

    .self-amount {
        height: 80px;
        line-height: 80px;
        background-color: #f5f5f5;
        border-radius: 10px;
        padding-left: 15px;
    }
}

.recharge-desc {
    background-color: white;
    margin: 30px 20px;
    padding: 20px;
    border-radius: 18px;

    .item {
        display: flex;
        font-size: 28px;
        padding: 4px 0;

        .head {
            width: 50px;
            max-width: 50px;
            min-width: 50px;
        }

        .body {
            color: #555555;
        }
    }
}

.sure-hold {
    margin: 20px;
}

.modal-line {
    display: flex;
    padding: 5px;

    .name {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
        color: #555555;
    }

    .info {
        color: #333333;
    }
}