.dz-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-sizing: border-box;
}

.dz-top-border::after {
  content: " ";
  position: absolute;
  z-index: 95;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  border-bottom: 1px solid #dddddd;
  transform: scale(.5);
  transform-origin: 0 0;
}

.dz-nav-title {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dz-nav-op {
  position: absolute;
  z-index: 98;
  width: 140px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
}

.dz-nav-op::before {
  content: ' ';
  position: absolute;
  height: 60%;
  width: 1px;
  background-color: #555555;
  top: 20%;
  left: 50%;
}

.dz-nav-op::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  border: 1px solid #eeeeee;
  border-radius: inherit;
  transform: scale(.5);
  transform-origin: 0 0;
}

.dz-top-button {
  flex: 1;
  background-color: transparent;
  line-height: 1.8;
  padding: 0;
}

.dz-top-button::after {
  border: none;
}

.dz-top-button:active {
  opacity: 0.4;
}
