.app-content {
  background-color: white;
}

.load-back {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 152, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-center {
  position: relative;
  top: -80px;
  width: 260px;
}

.load-logo {
  display: block;
  width: 260px;
}

.load-version {
  color: white;
  font-size: 28px;
  text-align: center;
  padding-top: 12px;
}

.login-load {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 6%;
  color: white;
}
