@import "assets/style/base";
@import "assets/style/components";
@import "assets/style/widget";

page {
    background: #f5f5f5;
}

.dz-top-nav {
    background-color: #E50014;

    .nav-title {
        color: white;
    }

    .nav-btn {
        &::after {
            content: none;
        }
    }
}

.app-content {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.app-scroll-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

.auto-scroll-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

.reg-btn-group {
    display: flex;
}

.reg-btn-group button {
    flex: 1;
}